@import "styles/colors";
@import "styles/fonts";
.emailbar {
    position: fixed;
    right: calc(var(--space)*4);
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30px;
    a {
        font-family: $smono;
        font-size: 16px;
        text-decoration: none;
        color: $gray;
        margin-left: var(--space);
        margin-bottom: 120px;
        transform: rotate(90deg);
        transition: all 0.7s;
        &:hover {
            color: $light-green;
            transform: rotate(90deg);
        }
    }
    .line {
        height: 300px;
        width: 1px;
        background-color: $gray;
        border-left-width: 1;
        transition: all 1s;
    }
    &:hover {
        .line {
            background-color: $light-green;
        }
    }
}

@media (max-width: 771px) {
    .emailbar {
        visibility: hidden;
    }
}